<launch>
    
    <include file="$(find controller)/launch/sensors.launch" />

    <group ns="ftsensor_r">
        <node pkg="rosservice" type="rosservice" name="tooltip_frame" args="call /ftsensor_r/set_tool_tip_frame -- true yumi_grip_r" />
    </group>
    <group ns="ftsensor_l">
        <node pkg="rosservice" type="rosservice" name="tooltip_frame" args="call /ftsensor_l/set_tool_tip_frame -- true yumi_grip_l" />
    </group>
</launch>