<launch>

    <arg name="ip" default="192.168.125.1"/>

    <include file="$(find yumi_controller)/launch/bringup/yumi_rws_egm.launch">
      <arg name="robot_ip" value="$(arg ip)"/>
    </include>
  
    <include file="$(find yumi_controller)/launch/base.launch">
        <arg name="update_options" value="3" />
    </include>
    
</launch>
