<?xml version="1.0"?>
<launch>

  <!-- Using an nickname/identifier for the robot controller is good practice -->
  <arg name="use_real" default="false"/>
  <arg name="robot_ip" default="192.168.131.65"/>  <!-- 192.168.125.1 for service port -->
  <arg name="robot_nickname" default="yumi"/>
  <arg name="start_egm_link" default="false"/>
  <arg name="resilient_egm_link" default="false"/>
  <arg name="rviz" default="true"/>
  <arg name="coordinated" default="false"/>

  <group ns="$(arg robot_nickname)">

    <!-- start the real robot ... -->
    <group if="$(eval use_real)">
      <include file="$(find yumift_common)/launch/setup_rws_egm.launch">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
        <arg name="robot_nickname" value="$(arg robot_nickname)"/>
      </include>
      <include if="$(eval start_egm_link or resilient_egm_link)" file="$(find yumift_common)/launch/start_egm.launch">
        <arg name="resilient" value="$(arg resilient_egm_link)" />
        <arg name="robot_nickname" value="" />  <!-- the namespace is already defined above -->
      </include>
    </group>
    <!-- ... or the emulator -->
    <group unless="$(eval use_real)">
      <node pkg="yumift_emulation" type="yumi_emulator.py" name="emulator" output="screen" />
    </group>

    <!-- load URDF -->
    <include file="$(find yumift_description)/launch/load.launch" />
    <!-- start the kinematics computation -->    
    <node pkg="yumift_common" type="kdl_kinematics" name="unified_kinematics">
      <remap from="/egm_joint_states" to="egm/joint_states"/>
      <remap from="/egm_states"       to="egm/egm_states"/>
      <remap from="/kinematics"       to="unified/kinematics"/>
      <remap from="/joint_states"     to="unified/joint_states"/>
    </node>
    <!-- include Python node for computation of unified (aka with sensors) robot state (and possibily coordinated task space) -->
    <include file="$(find yumift_common)/launch/unified_state_updater.launch">
      <!-- TODO remove this line and dynamically load it -->
      <arg name="coordinated_symmetry" value="0"/>
      <arg unless="$(arg coordinated)" name="update_options" value="3" />
      <arg name="topic_sensor_r" default="sensors/wrench/right/compensated_world"/>
      <arg name="topic_sensor_l" default="sensors/wrench/left/compensated_world"/>
      <arg name="topic_kinematics" default="unified/kinematics"/>
      <arg name="topic_robot_state" default="unified/robot_state_coordinated"/>
    </include>

    <!-- start robot state publisher (i.e. publish ~joint_states to /tf) -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <remap from="joint_states" to="unified/joint_states"/>
    </node>

    <!-- start rviz visualization -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find yumift_description)/rviz/yumift.rviz" required="true" />
  
  </group>

</launch>
