<?xml version="1.0"?>
<launch>

  <arg name="robot_nickname" default="yumi"/>
  <arg name="resilient" default="false"/>
  
  <node name="egm_link" pkg="yumift_common" type="egm_link.py" respawn="$(arg resilient)" respawn_delay="2" output="screen" ns="$(arg robot_nickname)">
    <param name="egm_settings" type="yaml" textfile="$(find yumift_common)/config/egm_settings.yaml" />
  </node>
  
</launch>
